header,
.title-section,
.info-section,
.quote,
.sign-up {
	/* border: 1px solid red; */
	padding: 0 15%;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

header {
	background-color: #1f2937;
	color: white;
	display: flex;
	justify-content: space-between;
}

.header-link {
	display: flex;
	align-items: center;
}

.header-link ul {
	display: flex;
	gap: 2rem;
}
.header-link li {
	list-style: none;
}
.header-btn {
	flex: 1;
}

.title-section {
	background-color: #1f2937;
	display: flex;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	height: 60vh;
}

#food-img {
	width: 100%;
}

.title-right-content,
.title-left-content {
	width: 50%;
}

.title-left-content {
	color: white;
}

.title-left-content h1 {
	font-size: 4rem;
	margin: 0;
}
.title-left-content p {
	font-size: 1.5rem;
}

.sign-up-btn {
	background-color: #3882f6;
	color: white;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	font-size: 1.5rem;
	padding: 0.5rem 2.5rem;
	border-radius: 10px;
}

/* INFO SECTION */
.info-section {
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	padding-top: 10vh;
	padding-bottom: 200px;
}

.info-header {
	font-size: 3rem;
	font-weight: bold;
	padding: 3rem 0;
}

.info-content {
	display: flex;
	gap: 2rem;
}

.info-img {
	width: 300px;
}
.info-container p {
	text-align: center;
}

/* QUOTE SECTION */
.quote-section {
	background-color: #e5e7eb;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.quote,
.quote-author {
	text-align: center;
}

.quote {
	font-size: 2rem;
	font-style: italic;
}
.quote-author {
	font-size: 1.5rem;
}

/* SIGN UP SECTION */
.sign-up {
	height: 50vh;
	display: flex;
	align-items: center;
}

.sign-up-container {
	background-color: #3882f6;
	width: 100%;
	border-radius: 10px;
	padding: 1rem;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
}

.small-btn {
	border: 2px solid white;
	padding: 0.5rem;
	height: 50px;
}

/* FOOTER SECTION */
footer {
	background-color: #1f2937;
}
footer > p {
	margin: 0;
	text-align: center;
	color: white;
	height: 10vh;
	line-height: 10vh;
}
